{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}"/>
{% endblock special_static %}

{% block content %}
<div class="row name">

    <div class="col-md-10">

        {% include "answer-html.html" with answer=answer %}

    </div>

    <div class="col-md-2">
            left bar

    </div>
</div>

<script>
    var span = $('<span>').css('display','inline-block')
    .css('word-break','break-all').appendTo('body').css('visibility','hidden');
    function initSpan(textarea){
      span.text(textarea.text())
          .width(textarea.width())
          .css('font',textarea.css('font'));
    }
    $('textarea').on({
        input: function(){
          var text = $(this).val();
          span.text(text);
          $(this).height(text ? span.height() : '1.1em');
        },
        focus: function(){
         initSpan($(this));
        },
        keypress: function(e){
            if(e.which == 13) e.preventDefault();
        }
    });





    $(".answer .action-bar").on('click', '*', function (e) {
        e.stopPropagation();
        var $voteObj = $(e.target).closest('.vote');
        if ($voteObj.length) {
            var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($voteObj.hasClass('selected')){
                $.get("/devote/"+ answerID + "/", {}, function(data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            }else {
                $.get("/vote/"+ answerID + "/", {}, function(data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        }
        var $bookmarkObj = $(e.target).closest('.bookmark');
        if ($bookmarkObj.length) {
            var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($bookmarkObj.hasClass('selected')){
                $.get("/unbookmark/"+ answerID + "/", {}, function(data) {
                    $bookmarkObj.find('img').attr('src','{% static "/image/bookmark add.svg" %}');
                    $bookmarkObj.find('div').text("اضافه به نشانه‌ها");
                    $bookmarkObj.removeClass('selected');
                });
            }else {
                $.get("/bookmark/"+ answerID + "/", {}, function(data) {
                    $bookmarkObj.find('img').attr('src','{% static "/image/bookmark remove.svg" %}');
                    $bookmarkObj.find('div').text("حذف از نشانه‌ها");
                    $bookmarkObj.addClass('selected');
                });
            }

        }
        var $shareObj = $(e.target).closest('.share');
        if ($shareObj.length) {
            var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($shareObj.hasClass('selected')){
                $.get("/unshare/"+ answerID + "/", {}, function(data) {
                    $shareObj.removeClass('selected');
                });
            }else {
                $.get("/share/"+ answerID + "/", {}, function(data) {
                    $shareObj.addClass('selected');
                });
            }

        }


    });
    $('.submit_button.comment').click(function(e) { // limit click to children of main menu
        var $selected_answer = $(e.target).closest('.answer.full');
        var $textarea = $(e.target).siblings('textarea.text');
        if ($textarea[0].value !== '') {
            $.get("/comment/" + $selected_answer[0].id + "/", {'text': $textarea[0].value}, function (data) {
                $selected_answer.find('.comments').append(data);
                $textarea[0].value = '';
            });
        }

        e.stopPropagation();
    });


    $(".comment-item .action-bar").on('click', '*', function (e) {
        e.stopPropagation();
        var $voteObj = $(e.target).closest('.vote');
        if ($voteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            if ($voteObj.hasClass('selected')) {
                $.get("/comment_devote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            } else {
                $.get("/comment_vote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        }
        var $deleteObj = $(e.target).closest('.delete');
        if ($deleteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            var $comment_answer = $(e.target).closest('.answer .full');
            $.get("/comment_delete/" + commentID + "/", {}, function (data) {
                $comment_answer.find('.comment-section .comment-item#'+ commentID).remove();
            });

        }
    });
</script>





{% endblock content %}