{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}"/>
{% endblock special_static %}

{% block content %}
<div class="row name">

    <div class="col-md-10">

        {% include "answer-html.html" with answer=answer %}

    </div>

    <div class="col-md-2">
            left bar

    </div>
</div>

<script>

    $('.submit_button.comment').click(function(e) { // limit click to children of main menu
        var $selected_answer = $(e.target).closest('.answer.full');
        var $textarea = $(e.target).siblings('textarea.text');
        if ($textarea[0].value !== '') {
            $.get("/comment/" + $selected_answer[0].id + "/", {'text': $textarea[0].value}, function (data) {
                $selected_answer.find('.comments').append(data);
                $textarea[0].value = '';
            });
        }

        e.stopPropagation();
    });


    $(".comment-item .action-bar").on('click', '*', function (e) {
        e.stopPropagation();
        var $voteObj = $(e.target).closest('.vote');
        if ($voteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            if ($voteObj.hasClass('selected')) {
                $.get("/comment_devote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            } else {
                $.get("/comment_vote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        }
        var $deleteObj = $(e.target).closest('.delete');
        if ($deleteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            var $comment_answer = $(e.target).closest('.answer .full');
            $.get("/comment_delete/" + commentID + "/", {}, function (data) {
                $comment_answer.find('.comment-section .comment-item#'+ commentID).remove();
            });

        }
    });
</script>





{% endblock content %}