<div class="comment-item">
    <div class="commenter row">
        <div class="photo-wrapper col-md-1">
            <a href="/profile/MahdiehBrf">
                <img class="profile_photo_img" src="https://qsf.fs.quoracdn.net/-3-images.new_grid.profile_pic_default_small.png-26-679bc670f786484c.png" alt="MahdiehBrf" height="50" width="50">
            </a>
        </div>
        <div class="info col-md-11">
            <span class="full-name">{{ comment.commenter }}</span>
            <div class="time">{{ comment.pub_date }}</div>
        </div>
    </div>
    <div class="text">
        {{ comment.text }}
    </div>
    <div class="action-bar d-flex justify-content-between">
        <div class="ml-auto d-flex">
            <div class="action-item vote">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="upvote" class="icon_svg-stroke icon_svg-fill" stroke-width="1.5" stroke="#666" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                        <polygon points="12 4 3 15 9 15 9 20 15 20 15 15 21 15"></polygon>
                    </g>
                </svg>
                رای بده
            </div>
        </div>
        <div class="action-item delete d-flex">
            <img src="{% static "/image/garbage .svg" %}">
            <div>حذف</div>
        </div>
    </div>
</div>