{% load static %}

<li class="credential-item d-flex justify-content-between">
    <div class="d-flex">
    {% if type == 'employment' %}
        <img  src="{% static "/image/employment.svg" %}">
    {% elif type == 'education'%}
        <img  src="{% static "/image/educational.svg" %}">
    {% elif type == 'location' %}
        <img  src="{% static "/image/location.svg" %}">
    {% elif type == 'language'%}
        <img  src="{% static "/image/language.svg" %}">
    {% elif type == 'experience' %}
        <img  src="{% static "/image/experience.svg" %}">
    {% endif %}
    <div class="credential-name">{{ credential }}</div>
    </div>
    <input type="radio" name="answer-credential-rdio" id="c-{{ credential.id }}" />
</li>