
{% load static %}

<div class="choose-credential-form hide screen-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="popup credential-popup col-md-8">
                <div class="title">
                    انتخاب اعتبار پاسخ
                    <div class="title-description">
                    به کاربران برای فهمیدن تجربه‌ی شما درمورد این سوال کمک کنید.
                </div>
                </div>

                <div class="popup-form credential-form">
                    <div class="main show">
                        <div class="add-credential">
                            <img src="{% static 'image/plus.svg' %}">
                            اضافه کردن اعتبار
                        </div>

                        <div class="credentials">

                            <ul class="credential-types hide">
                                <li class="credit-type-item employment">
                                    <div class="icon d-flex">
                                        <img src="{% static "/image/employment.svg" %}">
                                        <div>شغل</div>
                                    </div>
                                </li>
                                <li class="credit-type-item education">
                                    <div class="icon d-flex">
                                        <img src="{% static "/image/educational.svg" %}">
                                        <div>تحصیل</div>
                                    </div>
                                </li>
                                <li class="credit-type-item language">
                                    <div class="icon d-flex">
                                        <img src="{% static "/image/language.svg" %}">
                                        <div>زبان</div>
                                    </div>
                                </li>
                                <li class="credit-type-item location">
                                    <div class="icon d-flex">
                                        <img src="{% static "/image/location.svg" %}">
                                        <div>مکان</div>
                                    </div>
                                </li>
                                <li class="credit-type-item experience">
                                    <div class="icon d-flex">
                                        <img src="{% static "/image/experience.svg" %}">
                                        <div>تجربه</div>
                                    </div>
                                </li>
                            </ul>

                            <div class="user-credentials show">
                                <ul class="main-credential">
                                {% if user.maincredential %}
                                    <li class="credential-item d-flex justify-content-between" >
                                        <div class="credential-name">{{ user.maincredential }}</div>
                                            <input type="radio" name="answer-credential-rdio" id="c-{{ user.maincredential.id }}"/>
                                    </li>
                                {% endif %}
                                </ul>
                                <ul class="employment-set">
                                {% for credential in user.employment_set.all %}
                                    {% include "credential_item.html" with credential=credential type='employment' %}
                                {% endfor %}
                                </ul>
                                <ul class="education-set">
                                {% for credential in user.educational_set.all %}
                                    {% include "credential_item.html" with credential=credential type='education' %}
                                {% endfor %}
                                </ul>
                                <ul class="location-set">
                                {% for credential in user.location_set.all %}
                                    {% include "credential_item.html" with credential=credential type='location' %}
                                {% endfor %}
                                </ul>
                                <ul class="language-set">
                                {% for credential in user.language_set.all %}
                                    {% include "credential_item.html" with credential=credential type='language' %}
                                {% endfor %}
                                </ul>
                                <ul class="experience-set">
                                {% for credential in user.experience_set.all %}
                                    {% include "credential_item.html" with credential=credential type='experience' %}
                                {% endfor %}
                                </ul>
                            </div>

                        </div>

                        <input id="request-done" class="submit_button" type="submit" value="انجام شد">
                    </div>

                    <div>
                        <form id="education" class="add-type-credential hide" >
                            <div class="icon row">
                                <div class="col-md-2">
                                    <img  src="{% static "/image/educational.svg" %}">
                                </div>

                                <div class="col-md-10 description">
                                    اعتبار تحصیلی اضافه کنید
                                </div>
                            </div>

                            <div class="credential-inputs">

                                <div class="school row">
                                    <label class="col-md-2">مدرسه</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="50" required name="school" value="">
                                    </div>
                                </div>
                                <div class="field row">
                                    <label class="col-md-2">رشته</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="50" required name="field" value="">
                                    </div>
                                </div>

                                <div class="end-year row">
                                    <label class="col-md-2">مدرک</label>
                                    <div class="col-md-10">
                                        <select class="" id="degree" name="degree" required>
                                            <option disabled selected value style="display:none"></option>
                                            <option value="D.">دیپلم</option>
                                            <option value="A.A.">دانشیار هنر</option>
                                            <option value="A.S.">دانشیار علوم</option>
                                            <option value="B.A.">لیسانس هنر</option>
                                            <option value="B.S.">لیسانس علوم</option>
                                            <option value="M.A.">فوق لیسانس هنر</option>
                                            <option value="M.S.">فوق لیسانس علوم</option>
                                            <option value="Ph.D">دکترا</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="graduation_year row">
                                    <label class="col-md-2">سال فارغ‌التحصیلی</label>
                                    <div class="col-md-10">
                                        <select id="year" name="graduation_year"><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons d-flex justify-content-end align-items-center">
                                <a id="cancel" href="#">
                                انصراف
                                </a>
                                <input class="submit_button" type="submit" value="ثبت">

                            </div>
                        </form>

                        <form id="employment" class="add-type-credential hide" >
                            <div class="icon row">
                                <div class="col-md-2">
                                    <img  src="{% static "/image/employment.svg" %}">
                                </div>

                                <div class="col-md-10 description">
                                    اعتبار شغل اضافه کنید
                                </div>
                            </div>

                            <div class="credential-inputs">

                                <div class="position row">
                                    <label class="col-md-2">سمت</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="50" required name="position" value="">
                                    </div>
                                </div>
                                <div class="company-name row">
                                    <label class="col-md-2">نام شرکت</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="50" required name="company_name" value="">
                                    </div>
                                </div>
                                <div class="start-year row">
                                    <label class="col-md-2">سال شروع</label>
                                    <div class="col-md-10">
                                        <select id="year" name="start_year" required><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>
                                <div class="end-year row">
                                    <label class="col-md-2">سال پایان</label>
                                    <div class="col-md-10">
                                        <select class="" id="year" name="end_year"><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>
                                <div class="is_current_job d-flex">
                                    <input type="checkbox" name="is_current_job" id="is_current_job" value="True">
                                    <div>الان اینجا کار میکنم</div>
                                </div>
                            </div>
                            <div class="buttons d-flex justify-content-end align-items-center">
                                <a id="cancel" href="#">
                                انصراف
                                </a>
                                <input class="submit_button" type="submit" value="ثبت">

                            </div>
                        </form>

                        <form id="language" class="add-type-credential hide" >
                            <div class="icon row">
                                <div class="col-md-2">
                                    <img  src="{% static "/image/language.svg" %}">
                                </div>

                                <div class="col-md-10 description">
                                    اعتبار زبان اضافه کنید
                                </div>
                            </div>

                            <div class="credential-inputs">

                                <div class="name row">
                                    <label class="col-md-2">زبان</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="30" required name="name" value="">
                                    </div>
                                </div>

                            </div>
                            <div class="buttons d-flex justify-content-end align-items-center">
                                <a id="cancel" href="#">
                                انصراف
                                </a>
                                <input class="submit_button" type="submit" value="ثبت">

                            </div>
                        </form>

                        <form id="location" action="#" class="add-type-credential hide" >
                            <div class="icon row">
                                <div class="col-md-2">
                                    <img  src="{% static "/image/location.svg" %}">
                                </div>

                                <div class="col-md-10 description">
                                    اعتبار مکان اضافه کنید
                                </div>
                            </div>

                            <div class="credential-inputs">

                                <div class="name row">
                                    <label class="col-md-2">مکان</label>
                                    <div class="col-md-10">
                                        <input type="text" maxlength="50" name="name" value="">
                                    </div>
                                </div>

                                <div class="start-year row">
                                    <label class="col-md-2">سال شروع</label>
                                    <div class="col-md-10">
                                        <select id="year" name="start_year"><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>
                                <div class="end-year row">
                                    <label class="col-md-2">سال پایان</label>
                                    <div class="col-md-10">
                                        <select class="" id="year" name="end_year"><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>
                                <div class="is_current_location d-flex">
                                    <input type="checkbox" name="is_current_location" id="is_current_location" value="True">
                                    <div>الان اینجا زندگی میکنم</div>
                                </div>
                            </div>
                            <div class="buttons d-flex justify-content-end align-items-center">
                                <a id="cancel" href="#">
                                انصراف
                                </a>
                                <input class="submit_button" type="submit" value="ثبت">

                            </div>
                        </form>

                        <form id="experience" class="add-type-credential hide">
                            <div class="icon row">
                                <div class="col-md-2">
                                    <img  src="{% static "/image/experience.svg" %}">
                                </div>

                                <div class="col-md-10 description">
                                    اعتبار تجربه اضافه کنید
                                </div>
                            </div>

                            <div class="credential-inputs">

                                <div class="topic row">
                                    <label class="col-md-2">موضوع</label>
                                    <div class="col-md-10">
                                        <select id="topic" name="topic" required><option disabled selected value style="display:none"></option></select>
                                    </div>
                                </div>

                                <div class="description row">
                                    <label class="col-md-2">توضیح</label>
                                    <div class="col-md-10">
                                        <textarea  class="text" id="description" name="description" required></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="buttons d-flex justify-content-end align-items-center">
                                <a id="cancel" href="#">
                                انصراف
                                </a>
                                <input class="submit_button" type="submit" value="ثبت">

                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    $('.choose-credential-form form .credential-inputs #is_current_job, .choose-credential-form form .credential-inputs #is_current_location').click(function (e) {
        var $endObj = $(this).parents('.credential-inputs').find('.end-year #year');
        {#console.log($(this));#}
        if ($(this).is(":checked")){
            $endObj.prop('disabled', true).val('') ;
        }else {
            $endObj.prop('disabled', false);
        }
    });
</script>
