{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
    <script src="{% static "js/home-feeds-bar.js" %}"></script>
    <script src="{% static "js/add-credential.js" %}"></script>
    <script src="{% static "js/topic-action-bar.js" %}"></script>
    <script src="{% static "js/question-action-bar.js" %}"></script>
    <script src="{% static "js/answer-action-bar.js" %}"></script>

{% endblock special_static %}

{% block content %}
<div class="row name">
    <div class="col-md-2">
        <div class="feed-bar">
            <label>Feeds</label>
            <ul>
                <li class="feed-item topquestions ">
                    سوال‌ها برای شما
                </li>
                <li class="feed-item topanswers">
                    پاسخ‌ها برای شما
                </li>

                <li class="feed-item requests">
                    درخواست‌های پاسخ
                </li>
                <li class="feed-item bookmarks">
                    پاسخ‌های bookmark شده
                </li>
                <li class="feed-item addtopics">
                    موضوع‌ها
                </li>
            </ul>
        </div>

    </div>
    <div class="feeds col-md-8 main-section">

    </div>
    <div class="col-md-2">
        <div class="user-topic-bar">
            <label>موضوعات</label>
            <ul>
                {% for topic in user.topics.all %}
                    <li class="user-topic-item row d-flex align-items-center" id="t-{{ topic.id }}">
                        <div class="photo-wrapper small-icon col-md-4">
                            <a href="#">
                                <img class="profile_photo_img" src="{{ topic.image.url }}"  alt="{{ topic }}" height="50" width="50">
                            </a>
                        </div>
                        <div class="info col-md-8">
                            <div class="full-name">{{ topic }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
$(function() {
    window.onload = function() {
      $('.feed-bar .feed-item.topquestions').trigger('click');
    };

    $(".more.id").click(function(e) { // limit click to children of main menu
        $(this).siblings(".full").removeClass('hide').addClass('show');
        $(this).siblings(".less.id").removeClass('hide').addClass('show');
        $(this).siblings(".text.truncated").removeClass('show').addClass('hide');
        $(this).removeClass('show').addClass('hide');


        e.stopPropagation();
    });
    $(".less.id").click(function(e) { // limit click to children of main menu
        console.log('hii');
        $(this).siblings(".more.id").removeClass('hide').addClass('show');
        $(this).siblings(".text.truncated").removeClass('hide').addClass('show');
        $(this).removeClass('show').addClass('hide');
        $(this).siblings(".full").removeClass('show').addClass('hide');
        e.stopPropagation();
    });
});
</script>





{% endblock content %}