<ul class="dropdown-menu dropdown-menun show">
    <div class="before-menu d-flex justify-content-end">
        <a class="read-all" href="#">قراردادن همه به عنوان خوانده‌شده‌ها</a>
    </div>
    <div class="notifs">
        {% for notif in notifs %}
            {% if notif.unread == 1 %}
                <li class="notif-item">
            {% else %}
                <li class="notif-item read">
            {% endif %}
                <div class="notif-sentence">
                    <a href="{{ notif.data.sender_href }}">
                        {{ notif.actor }}
                    </a>
                    {{ notif.verb }}
                    <a href="{{ notif.data.href }}">
                        {{ notif.target }}
                    </a>
                </div>
                <div class="time">
                    {{ notif.timestamp|date:"در d-m-Y ساعت G:i" }}
                </div>
            </li>
        {% endfor %}
    </div>
</ul>