{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>

{% endblock special_static %}

{% block content %}
<div class="row name">

    <div class="profile-page col-md-10">
        <div class="profile row">
            <div class="photo-wrapper col-md-2 ">
                <a href="#">
                    <img class="profile_photo_img" src="{{ selected_user.avatar.url }}" alt="{{ selected_user }}" height="50" width="50">
                </a>
            </div>
            <div class="info col-md-10">
            <div class="user-name d-flex">
                <span class="user-value full-name show">{{ selected_user }}</span>
                {% if selected_user.email == user.email %}
                        <div class="profile-edit  show">
                            ویرایش
                        </div>
                        <div class="col-md-8 edit-input d-flex align-items-center hide">
                            <textarea class="first-name">{{ selected_user.first_name }}</textarea>
                            <textarea class="last-name">{{ selected_user.last_name }}</textarea>
                            <input class="submit_button profile-edit-button edit-full-name" type="submit" value="ویرایش">
                            <div class="profile-cancel-edit">انصراف</div>
                        </div>
                {% endif %}
            </div>

                <div class="main-credential d-flex">
                    {% if selected_user.maincredential %}
                        <span class="user-value show">{{ selected_user.maincredential }}</span>

                        {% if selected_user.email == user.email %}
                            <div class="profile-edit  show">
                                ویرایش
                            </div>
                            <div class="col-md-8 edit-input d-flex align-items-center hide">
                                <textarea class="text">{{ selected_user.maincredential }}</textarea>
                                <input class="submit_button profile-edit-button edit-main-credential" type="submit" value="ویرایش">
                                <div class="profile-cancel-edit">انصراف</div>
                            </div>
                        {% endif %}
                    {% else %}
                        <span class="user-value show"></span>
                        {% if selected_user.email == user.email %}
                            <div class="profile-edit  show">
                                اضافه کردن اعتبار پروفایل
                            </div>
                            <div class="col-md-8 edit-input d-flex align-items-center hide">
                                <textarea class="text"></textarea>
                                <input class="submit_button profile-edit-button add-main-credential" type="submit" value="ثبت">
                                <div class="profile-cancel-edit">انصراف</div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="bio">
                    {% if selected_user.bio %}
                        <span class="user-value show">{{ selected_user.bio|safe }}</span>

                        {% if selected_user.email == user.email %}
                            <div class="profile-edit  show">
                                ویرایش
                            </div>
                            <div class="edit-input d-flex align-items-center hide">
                                <form class="editor show" method="POST" action="{% url 'account:edit_bio' selected_user.id %}">
                                    {% csrf_token %}
                                    <textarea name="bio" id="bio" rows="10" cols="80" ></textarea>
                                    <script>
                                        {% autoescape off %}
                                        CKEDITOR.replace( 'bio', {customConfig: '/static/js/editor-config.js'});
                                        CKEDITOR.instances['bio'].setData('{{ selected_user.bio |safe|escapejs}}');
                                        {% endautoescape %}
                                    </script>
                                    <div class="get-inside d-flex justify-content-end">
                                        <input class="submit_button edit-bio" type="submit" value="post">
                                        <div class="profile-cancel-edit">انصراف</div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% else %}
                        <span class="user-value show"></span>
                        {% if selected_user.email == user.email %}
                            <div class="profile-edit show">
                                یک توضیح درباره‌ی خود بنویس
                            </div>
                            <div class="edit-input d-flex align-items-center hide">
                                <form class="editor show" method="POST" action="{% url 'account:edit_bio' selected_user.id %}">
                                    {% csrf_token %}
                                    <textarea name="bio" id="bio" rows="10" cols="80" ></textarea>
                                    <script>
                                        CKEDITOR.replace( 'bio', {customConfig: '/static/js/editor-config.js'});
                                    </script>
                                    <div class="get-inside d-flex justify-content-end">
                                        <input class="submit_button add-bio" type="submit" value="post">
                                        <div class="profile-cancel-edit">انصراف</div>
                                    </div>
                                </form>
                            </div>

                        {% endif %}
                    {% endif %}

                </div>

                <div class="follower-count">{{ selected_user.followers.count }} follower </div>

                {% if selected_user.email != user.email %}

                <div class="action-bar d-flex justify-content-between">
                    <div class="ml-auto d-flex">
                        <div class="action-item follow">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" fill="none" fill-rule="evenodd">
                                    <g id="user-follow">
                                        <g class="icon_svg-unpressed icon_svg-stroke" transform="translate(4.400000, 4.000000)" stroke="#666" fill="none" stroke-width="1.5">
                                            <path d="M10.5999999,12.5 C10.5999999,10.8431458 9.25685415,9.5 7.5999999,9.5 C5.94314566,9.5 4.5999999,10.8431458 4.5999999,12.5 M7.5999999,8.5 C8.84264059,8.5 9.8499999,7.49264069 9.8499999,6.25 C9.8499999,5.00735931 8.84264059,4 7.5999999,4 C6.35735922,4 5.3499999,5.00735931 5.3499999,6.25 C5.3499999,7.49264069 6.35735922,8.5 7.5999999,8.5 Z" id="profile"></path>
                                            <path d="M15.0999999,13 L15.0999999,18 M12.5999999,15.5 L17.5999999,15.5" id="plus" stroke-linecap="round"></path>
                                            <path d="M9.0999999,15.5 L3.0999999,15.5 C1.44314566,15.5 0.0999999046,14.1568542 0.0999999046,12.5 L0.0999999046,3.5 C0.0999999046,1.84314575 1.44314566,0.5 3.0999999,0.5 L12.0999999,0.5 C13.7568542,0.5 15.0999999,1.84314575 15.0999999,3.5 L15.0999999,9.5" id="outline" stroke-linecap="round"></path>
                                        </g>
                                        <g class="icon_svg-pressed" transform="translate(3.000000, 3.000000)">
                                            <path d="M7.73218309,9.96973049 C6.28500703,10.4895228 5.25,11.873892 5.25,13.5 L12.75,13.5 C12.75,11.873892 11.714993,10.4895228 10.2678169,9.96973049 C11.2910047,9.49195022 12,8.45377247 12,7.25 C12,5.59314575 10.6568542,4.25 9,4.25 C7.34314575,4.25 6,5.59314575 6,7.25 C6,8.45377247 6.70899528,9.49195022 7.73218309,9.96973049 Z M17.25,11.3388626 C16.9783814,11.4955 16.7318899,11.7061926 16.5273952,11.9688404 L14.7662908,14.2307581 C13.7898614,13.2559226 12.2080519,13.2564142 11.232233,14.232233 C10.4142783,15.0501878 10.2816074,16.2939234 10.8342204,17.25 L4.5,17.25 C2.42893219,17.25 0.75,15.5710678 0.75,13.5 L0.75,4.5 C0.75,2.42893219 2.42893219,0.75 4.5,0.75 L13.5,0.75 C15.5710678,0.75 17.25,2.42893219 17.25,4.5 L17.25,11.3388626 Z" id="filled" class="icon_svg-fill" fill="none" fill-rule="nonzero"></path>
                                            <polyline id="check" class="icon_svg-stroke" stroke="#666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" points="13 16 15 18 18.5 13.5046888"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            پیروی
                        </div>
                        <div class="action-item ask">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" fill="none" fill-rule="evenodd">
                                    <g id="ask" class="icon_svg-stroke" stroke="#666" stroke-width="1.5">
                                        <g id="Group-2" transform="translate(4.500000, 4.000000)">
                                            <g id="Group" transform="translate(4.500000, 3.000000)">
                                                <path d="M3,6 C3,5.67627727 3,5.50961061 3,5.5 C4.38071187,5.5 5.5,4.38071187 5.5,3 C5.5,1.61928813 4.38071187,0.5 3,0.5 C1.61928813,0.5 0.5,1.61928813 0.5,3" id="Oval-11" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <circle id="Oval-12" class="icon_svg-fill_as_stroke" fill="#666" stroke="none" cx="3" cy="8.5" r="1"></circle>
                                            </g>
                                            <path d="M3,0 L12,0 C13.6568542,-3.04359188e-16 15,1.34314575 15,3 L15,12 C15,13.6568542 13.6568542,15 12,15 L9,15 L4.5,18 L4.5,15 L3,15 C1.34314575,15 1.78140872e-14,13.6568542 1.687539e-14,12 L0,3 C-9.3869722e-16,1.34314575 1.34314575,-1.47199765e-15 3,-1.77635684e-15 Z" stroke-linejoin="round"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            پرسش سوال
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="feed-bar">
                    <label>Feeds</label>
                    <ul>
                        <li class="feed-item answers selected ">
                            پاسخ‌ها
                        </li>
                        <li class="feed-item questions">
                            سوال‌ها
                        </li>
                        <li class="feed-item shares">
                            به اشتراک گذاشته‌ها
                        </li>
                        <li class="feed-item followings">
                            followings
                        </li>
                        <li class="feed-item followers">
                            followers
                        </li>
                        <li class="feed-item edits">
                            ویرایش‌ها
                        </li>
                        <li class="feed-item liked-topics">
                            موضوع‌ها
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 feeds">

                <div class="answers show">
                    {% for answer in selected_user.answer_set.all %}
                        {% include "summary-answer.html" with answer=answer %}
                    {% endfor %}
                </div>

                <div class="questions hide">
                    {% for question in selected_user.question_set.all %}
                        {% include "summary-question.html" with question=question %}
                    {% endfor %}
                </div>

                <div class="shares hide">
                    {% for answer in selected_user.shares.all %}
                        {% include "summary-answer.html" with answer=answer %}
                    {% endfor %}
                </div>

                <div class="followings hide">
{#                  TODO#}
                    {% include "user_list.html" with users=selected_user.followees.all %}

                </div>


                <div class="followers hide">
                    {% include "user_list.html" with users=selected_user.followers.all %}
                </div>

                <div class="edits hide">
                    {% for question in selected_user.edits.all %}
                        {% include "summary-question.html" with question=question %}
                    {% endfor %}
                </div>

                <div class="liked-topics hide">
                    {% for topic in selected_user.topics.all %}
                        {% include "summary-question.html" with question=question %}
                    {% endfor %}
                </div>




            </div>
        </div>



    </div>

    <div class="col-md-2">
        <div class="creditional-bar">
            <label>اعتبار‌ها</label>
            <ul>
                <li class="credit-item">
                    <div class="icon d-flex">
                        <img src="{% static "/image/employment.svg" %}">
                        <div>شغل</div>
                    </div>
{#                    <ul>#}
{#                        <li>مدرس</li>#}
{#                    </ul>#}
                </li>
                <li class="credit-item">
                    <div class="icon d-flex">
                        <img src="{% static "/image/educational.svg" %}">
                        <div>تحصیل</div>
                    </div>
                </li>
                <li class="credit-item">
                    <div class="icon d-flex">
                        <img src="{% static "/image/language.svg" %}">
                        <div>زبان</div>
                    </div>
                </li>
                <li class="credit-item">
                    <div class="icon d-flex">
                        <img src="{% static "/image/location.svg" %}">
                        <div>مکان</div>
                    </div>
                </li>
                <li class="credit-item">
                    <div class="icon d-flex">
                        <img src="{% static "/image/experience.svg" %}">
                        <div>تجربه</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<script>
$(function() {

    $(".profile .info .edit-input .submit_button").click(function (e) {
        var $submitObj = $(this);
        console.log($submitObj);
        var action = $submitObj.attr('class').split(' ')[2];
        if (action === 'edit-full-name'){
            var firstName = $submitObj.siblings("textarea.first-name")[0].value;
            var lastName = $submitObj.siblings("textarea.last-name")[0].value;
            $.get("/edit_full_name/" + {{ selected_user.id }} + "/", {'first_name':firstName, 'last_name':lastName}, function (data) {
                $submitObj.parent().removeClass('show').addClass('hide');
                $submitObj.parent().siblings(".user-value").removeClass('hide').addClass('show').text(firstName + " " + lastName);
                $submitObj.parent().siblings(".profile-edit").removeClass('hide').addClass('show');
            });
        }else if(action === "add-main-credential" || action === "edit-main-credential"){
            var text = $submitObj.siblings("textarea")[0].value;
            $.get("/edit_main_credential/" + {{ selected_user.id }} + "/", {'text':text}, function (data) {
                $submitObj.parent().removeClass('show').addClass('hide');
                $submitObj.parent().siblings(".user-value").removeClass('hide').addClass('show').text(text);
                $submitObj.parent().siblings(".profile-edit").removeClass('hide').addClass('show').text('ویرایش');
            });
        }

            e.stopPropagation();
    });

    $(".profile .info .profile-edit").click(function(e) { // limit click to children of main menu
        $(this).siblings(".edit-input").removeClass('hide').addClass('show');
        $(this).siblings(".user-value").removeClass('show').addClass('hide');
        $(this).removeClass('show').addClass('hide');


        e.stopPropagation();
    });

    $(".profile .info .edit-input .profile-cancel-edit").click(function(e) { // limit click to children of main menu
        var $parent = $(this).parents(".edit-input");
        $parent.removeClass('show').addClass('hide');
        $parent.siblings(".user-value").removeClass('hide').addClass('show');
        $parent.siblings(".profile-edit").removeClass('hide').addClass('show');


        e.stopPropagation();
    });
    $(".more.id").click(function(e) { // limit click to children of main menu
        $(this).siblings(".full").removeClass('hide').addClass('show');
        $(this).siblings(".less.id").removeClass('hide').addClass('show');
        $(this).siblings(".text.truncated").removeClass('show').addClass('hide');
        $(this).removeClass('show').addClass('hide');


        e.stopPropagation();
    });
    $(".less.id").click(function(e) { // limit click to children of main menu
        $(this).siblings(".more.id").removeClass('hide').addClass('show');
        $(this).siblings(".text.truncated").removeClass('hide').addClass('show');
        $(this).removeClass('show').addClass('hide');
        $(this).siblings(".full").removeClass('show').addClass('hide');
        e.stopPropagation();
    });

    var span = $('<span>').css('display','inline-block')
    .css('word-break','break-all').appendTo('body').css('visibility','hidden');
    function initSpan(textarea){
      span.text(textarea.text())
          .width(textarea.width())
          .css('font',textarea.css('font'));
    }
    $('textarea.text').on({
        input: function(){
          var text = $(this).val();
          span.text(text);
          $(this).height(text ? span.height() : '1.1em');
        },
        focus: function(){
         initSpan($(this));
        },
        keypress: function(e){
            if(e.which == 13) e.preventDefault();
        }
    });

    $('.feed-bar .feed-item').click(function(e) { // limit click to children of main menu
        var $feedObj = $(this);
        if(!$feedObj.hasClass('selected')){
            var feedName = $feedObj.attr('class').split(' ')[1];
            $('.feed-bar .feed-item').removeClass('selected');
            $feedObj.addClass('selected');
            $('.feeds > div').removeClass('show').addClass('hide');
            $('.feeds div.' + feedName).removeClass('hide').addClass('show');
        }

        e.stopPropagation();
    });
});
</script>





{% endblock content %}