{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}"/>
{% endblock special_static %}

{% block content %}
<div class="row name">

    <div class="col-md-10">

        <div class="question full" id={{ question.id }}>
            <div class="box">
                <div class="topics d-flex">
{#                    TODO#}
                    <div class="topic-item">کوئرا</div>
                    <div class="topic-item">سال 2018</div>
                    <div class="topic-item">+4</div>
                </div>
                <div class="question-title">
                    {{ question.title|safe }}
                </div>
                <div class="qu action-bar d-flex justify-content-between">
{#                    TODO#}
                    <div class="ml-auto d-flex">
                        <div class="action-item answer">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="answer" transform="translate(2.500000, 3.500000)" stroke="none" fill="none" fill-rule="evenodd">
                                    <g id="pen" transform="translate(9.000000, 9.000000) rotate(-315.000000) translate(-9.000000, -9.000000) translate(7.000000, -1.000000)">
                                        <path d="M2,8.8817842e-16 L2,8.8817842e-16 L2,8.8817842e-16 C3.1045695,6.85269983e-16 4,0.8954305 4,2 L4,16 L2.00256278,20 L0,16 L0,2 L0,2 C-1.35267774e-16,0.8954305 0.8954305,1.09108686e-15 2,8.8817842e-16 Z" id="pen_body" class="icon_svg-stroke" stroke="#666" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <polygon id="pen_tip" class="icon_svg-fill_as_stroke" fill="#666" transform="translate(2.000000, 18.750000) scale(1, -1) translate(-2.000000, -18.750000) " points="2 17.5 3.25 20 0.75 20"></polygon>
                                    </g>
                                    <path d="M12,16 L17,16 L17,11 M7,1 L2,1 L2,6" id="bg" class="icon_svg-stroke" stroke="#666" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            پاسخ
                        </div>
                        {% if user in question.followers.all %}
                            <div class="action-item follow d-flex selected">
                        {% else %}
                            <div class="action-item follow d-flex">
                        {% endif %}
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" fill="none" fill-rule="evenodd" stroke-linecap="round">
                                    <g id="follow" class="icon_svg-stroke" stroke="#666" stroke-width="1.5">
                                        <path d="M14.5,19 C14.5,13.3369229 11.1630771,10 5.5,10 M19.5,19 C19.5,10.1907689 14.3092311,5 5.5,5" id="lines"></path>
                                        <circle id="circle" cx="7.5" cy="17" r="2" class="icon_svg-fill" fill="none"></circle>
                                    </g>
                                </g>
                            </svg>
                            پیروی
                            <div class="follower-count">
                                {{ question.followers.count }}
                            </div>
                        </div>
                        <div class="action-item request">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="request" class="icon_svg-stroke" stroke="#666" stroke-width="1.5" fill="none" fill-rule="evenodd">
                                    <g transform="translate(10.000000, 5.000000)" class="icon_svg-fill" fill="none">
                                        <path d="M10,15.5 C10,12.7385763 7.76142375,10.5 5,10.5 C2.23857625,10.5 0,12.7385763 0,15.5 M5,8 C7.209139,8 9,6.209139 9,4 C9,1.790861 7.209139,0 5,0 C2.790861,0 1,1.790861 1,4 C1,6.209139 2.790861,8 5,8 Z"></path>
                                    </g>
                                    <path d="M6,10 L8.5,13 L6,16 M3,13.0244257 L8.49508293,13.0244257" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            درخواست پاسخ
                        </div>
                    </div>
                    <div class="action-item edit d-flex">
                        <img src="{% static "/image/edit.svg" %}">
                        <div>ویرایش</div>
                    </div>
                </div>

                <form class="editor hide" method="POST" action="{% url 'account:answer' question.id %}">
                    {% csrf_token %}
                    <textarea name="text" id="text" rows="10" cols="80" placeholder="پاسخ خود را بنویسید"></textarea>
                    <script>
                        CKEDITOR.replace( 'text', {customConfig: '/static/js/editor-config.js'});
                    </script>
                    <div class="get-inside d-flex justify-content-end">
                        <input class="submit_button" type="submit" value="post">
                    </div>
                </form>

                <div class="answer-count">{{ question.answer_set.count }} پاسخ</div>

                <div class="answers">
                    {% for answer in question.answer_set.all %}
                        {% include "answer-html.html" with answer=answer %}
                    {% endfor %}
                </div>



            </div>
        </div>


    </div>

    <div class="col-md-2">
            left bar

    </div>
</div>

<script>

    $(".question .qu.action-bar .action-item.edit").click(function (e) { // limit click to children of mainmenue
        var $formObj = $(".ask-form").removeClass('hide').addClass('show').find('form').attr('action', '{% url "account:edit" question.id %}');
        $formObj.find('textarea').text('{{ question.title }}');
        $formObj.find('input')[1].value = 'ویرایش';
        $('.overlay').css("opacity", "0.2").css("position","absolute");
        e.stopPropagation();
    });


    var span = $('<span>').css('display','inline-block')
    .css('word-break','break-all').appendTo('body').css('visibility','hidden');
    function initSpan(textarea){
      span.text(textarea.text())
          .width(textarea.width())
          .css('font',textarea.css('font'));
    }
    $('textarea').on({
        input: function(){
          var text = $(this).val();
          span.text(text);
          $(this).height(text ? span.height() : '1.1em');
        },
        focus: function(){
         initSpan($(this));
        },
        keypress: function(e){
            if(e.which == 13) e.preventDefault();
        }
    });


    $('.answer .answ.action-bar .action-item.vote').click(function(e) { // limit click to children of main menu
        var $voteObj = $(this);
        var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($voteObj.hasClass('selected')){
                $.get("/devote/"+ answerID + "/", {}, function(data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            }else {
                $.get("/vote/"+ answerID + "/", {}, function(data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        e.stopPropagation();
    });

    $('.answer .answ.action-bar .action-item.bookmark').click(function(e) { // limit click to children of main menu
        var $bookmarkObj = $(this);
        var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($bookmarkObj.hasClass('selected')){
                $.get("/unbookmark/"+ answerID + "/", {}, function(data) {
                    $bookmarkObj.find('img').attr('src','{% static "/image/bookmark add.svg" %}');
                    $bookmarkObj.find('div').text("اضافه به نشانه‌ها");
                    $bookmarkObj.removeClass('selected');
                });
            }else {
                $.get("/bookmark/"+ answerID + "/", {}, function(data) {
                    $bookmarkObj.find('img').attr('src','{% static "/image/bookmark remove.svg" %}');
                    $bookmarkObj.find('div').text("حذف از نشانه‌ها");
                    $bookmarkObj.addClass('selected');
                });
            }
         e.stopPropagation();
    });

    $('.answer .answ.action-bar .action-item.share').click(function(e) { // limit click to children of main menu
        var $shareObj = $(this);
        var answerID = $(e.target).closest('.answer.full')[0].id;
            if ($shareObj.hasClass('selected')){
                $.get("/unshare/"+ answerID + "/", {}, function(data) {
                    $shareObj.removeClass('selected');
                });
            }else {
                $.get("/share/"+ answerID + "/", {}, function(data) {
                    $shareObj.addClass('selected');
                });
            }
         e.stopPropagation();
    });

    $('.answer .answ.action-bar .action-item.delete').click(function(e) { // limit click to children of main menu
        var $deleteObj = $(this);
        var answerID = $(e.target).closest('.answer.full')[0].id;
            var $answer_question = $(e.target).closest('.question.full');
            $.get("/answer_delete/" + answerID + "/", {}, function (data) {
                console.log($answer_question.find('.answers .answer.full#'+ answerID));
                $answer_question.find('.answers .answer.full#'+ answerID).remove();
            });
         e.stopPropagation();
    });




    $('.submit_button.comment').click(function(e) { // limit click to children of main menu
        var $selected_answer = $(e.target).closest('.answer.full');
        var $textarea = $(e.target).siblings('textarea.text');
        if ($textarea[0].value !== '') {
            $.get("/comment/" + $selected_answer[0].id + "/", {'text': $textarea[0].value}, function (data) {
                $selected_answer.find('.comments').append(data);
                $textarea[0].value = '';
            });
        }

        e.stopPropagation();
    });

    $('.answer .action-bar .action-item.edit, .question .action-bar .action-item.answer').click(function(e) { // limit click to children of main menu

        var $editorObj = $(e.target).parents('.action-bar').siblings('form.editor');
        if ($editorObj.hasClass('hide')){
            $(this).addClass('selected');
            $editorObj.removeClass('hide').addClass('show');
        }else{
            $(this).removeClass('selected');
            $editorObj.removeClass('show').addClass('hide');
        }

        e.stopPropagation();
    });

    $('.question .action-bar .action-item.follow').click(function(e) { // limit click to children of main menu
        var $editObj = $(this);
        var questionID = $(e.target).closest('.question.full')[0].id;
            if ($(this).hasClass('selected')){
                $.get("/unfollow/"+ questionID + "/", {}, function(data) {
                    $editObj.find('.follower-count')[0].innerHTML = data.follower_count;
                    $editObj.removeClass('selected');
                });
            }else {
                $.get("/follow/"+ questionID + "/", {}, function(data) {
                    $editObj.find('.follower-count')[0].innerHTML = data.follower_count;
                    $editObj.addClass('selected');
                });
            }

        e.stopPropagation();
    });

    //good point :) :O
    //if you append an html you have to use jquery like bellow unless it won't work
    $(".comments").on('click', '.comment-item .action-bar', function (e) {
        e.stopPropagation();
        var $voteObj = $(e.target).closest('.vote');
        if ($voteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            if ($voteObj.hasClass('selected')) {
                $.get("/comment_devote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            } else {
                $.get("/comment_vote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        }
        var $deleteObj = $(e.target).closest('.delete');
        if ($deleteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            var $comment_answer = $(e.target).closest('.answer .full');
            $.get("/comment_delete/" + commentID + "/", {}, function (data) {
                $comment_answer.find('.comment-section .comment-item#'+ commentID).remove();
            });

        }
    });
</script>





{% endblock content %}