{% load static %}

<ul class="row user-list">
    <div class="col-md-6 odd">
        {% for topic in topics.all %}
            {% if not forloop.counter|divisibleby:2 %}
                {% include "topic.html" with topi=topic %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-6 even">
        {% for topic in topics.all %}
            {% if forloop.counter|divisibleby:2 %}
                {% include "topic.html" with topic=topic %}
            {% endif %}
        {% endfor %}
    </div>

</ul>