{% load static %}
<li class="credit-item">
    <div class="icon d-flex">
        <img src="{% static "/image/employment.svg" %}">
        <div>شغل</div>
    </div>

    <ul>
        {% for credential in selected_user.employment_set.all %}
        <li>{{ credential }}</li>
        {% endfor %}
    </ul>
</li>
<li class="credit-item">
    <div class="icon d-flex">
        <img src="{% static "/image/educational.svg" %}">
        <div>تحصیل</div>
    </div>
    <ul>
        {% for credential in selected_user.educational_set.all %}
        <li>{{ credential }}</li>
        {% endfor %}
    </ul>
</li>
<li class="credit-item">
    <div class="icon d-flex">
        <img src="{% static "/image/language.svg" %}">
        <div>زبان</div>
    </div>
    <ul>
        {% for credential in selected_user.language_set.all %}
        <li>{{ credential }}</li>
        {% endfor %}
    </ul>
</li>
<li class="credit-item">
    <div class="icon d-flex">
        <img src="{% static "/image/location.svg" %}">
        <div>مکان</div>
    </div>
    <ul>
        {% for credential in selected_user.location_set.all %}
        <li>{{ credential }}</li>
        {% endfor %}
    </ul>
</li>
<li class="credit-item">
    <div class="icon d-flex">
        <img src="{% static "/image/experience.svg" %}">
        <div>تجربه</div>
    </div>
    <ul>
        {% for credential in selected_user.experience_set.all %}
        <li>{{ credential }}</li>
        {% endfor %}
    </ul>
</li>