@font-face {
  font-family: 'BNazanin';
  src: url('/static/font/BNazanin.eot?#') format('eot'),
       url('/static/font/BNazanin.woff') format('woff'),
       url('/static/font/BNazanin.ttf') format('truetype');
}

html,body{
    /*height:100%;*/
    font-family: 'BNazanin', serif;
    text-align: right;
    direction: rtl;
}

.english{
    font-family: serif;
    direction: ltr;
    text-align: left;
}

.hide{
    display: none!important;
}

.show{
    display: block;
}

input, textarea{
    background-color: #EEE;
    width: 100%;
    font-size: 15px;
    line-height: 1.4;
    min-height: 32px;
    margin-bottom: 8px;
    padding: 3px 5px;
    height: 15px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
    transition: border-color .2s;

}

.submit_button {
    background: #3e78ad;
    color: white;
    width: 65px;
    border: 1px solid #3a66ad;
    margin-right: 8px;
    font-weight: bold;
}

.screen-center{
    height: inherit;
    display: grid;
    align-items: center;
}


p{
    margin-bottom: 2px;
}

.selected{
        color: #329bff;
}