

html,body {
    height: 100%;
    direction: rtl;
    background: #fafafa;
    text-decoration: none;
    text-align: right;
}

.navbar{
    background: #fff;
    position: fixed;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    box-sizing: border-box;
    z-index: 800;
}

a.navbar-brand {
    display: block;
    width: 80px;
    height: 50px;
    background-size: 80px 23px;
    background-image: url(//qsf.fs.quoracdn.net/-3-images.logo.wordmark_default.svg-26-bfa6b94bc0d6af2e.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-item{
    display: inherit;
    font-size: 18px;
    font-weight: 500;
    padding: 0 14px;
    border-bottom: 2px solid transparent;

}

.nav-item a.nav-link{
    color: #666;
}

.nav-item.selected{
    border-color: #b92b27;
    opacity: 1;
}

.nav-item.selected a.nav-link{
    color: #b92b27;
}

.nav-item div.nav-icon svg{
    width: 24px;
    height: 23px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    background-size: contain;

}
.nav-item.selected div.nav-icon svg g{
    fill: #b92b27;
}

.photo_wrapper span img, .photo-wrapper a img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-bottom: 2px solid transparent;

}

.photo-wrapper a img{
    width: 45px;
    height: 45px;
}

.right-nav-item button{
    width: 96px;
    height: 38px;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #962520;
    background: #b92b27;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
}

.navbar-toggler {
    border-color: #666;
    width: 40px;
    height: 30px;
    padding: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' #666' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 25px;
    height: 25px;
}

.content-wrapper{
    padding-top: 83px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;

}

.answer{
    background: white;
}


.live_notify_badge{
    border-radius: 10px;
    padding: 4px 5px 2px 5px;
    min-width: 8px;
    background-color: #b92b27;
    color: #fff;
    line-height: 14px;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 5px;
    font-weight: 400;
    margin-right: 4px;
}

.dropdown-menux, .dropdown-menun{

    border-radius: 3px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);
    padding: 0;
}

.dropdown-menux{
    width: 500px;
    right: 20%;
    top: 53px;
}

.dropdown-menun{
    top: 0;
    right: 0;
    z-index: 0;
}

.dropdown-menux, .dropdown-menun{
    text-align: right;

}

.dropdown-menux .read-all, .dropdown-menun .read-all{
    margin: 9px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #585a61;
    border: 1px solid #ced1e1;
    height: 28px;
}

.dropdown-menun .notif-item.read{
    background-color: #fff;
}

.dropdown-menux .show-all{
    /*margin: 9px 9px 0;*/
    position: relative;
    font-weight: 400;
    display: inline-block;
    padding: 14px 16px;
    color: #666;
    /*font-size: 13px;*/
    text-decoration-color: #666;
    text-decoration: underline;
}


.dropdown-menux .notifs{
        border-top: 1px solid #e2e2e2;
    max-height: 200px;
    overflow-y: scroll

}

.notif-item{
        background-color: #f2f5f7;
    border-color: #d5d9db;
    border-radius: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 12px 32px;
    padding-left: 16px;
}

.profile-menu .dropdown-item{
    padding: 8px 16px;
    border-top: 1px solid #e2e2e2

}
 .profile-menu{
     text-align: right;
     border-radius: 3px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);
    padding: 0;

 }

.popup{
    /*height: 630px;*/
    margin: 32px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);
    padding: 0;
    border-radius: 3px;

}

.question-form .inputs{
    padding: 32px 32px 24px 32px;
    background-color: #fff;
    border-radius: 3px;
}

.question-form .buttons{
    background: #f7f7f7;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    border-top: 1px solid #e2e2e2;
}

.question-form .inputs .asker{
    color: #999;
    font-size: 17px;
}

.question-form .inputs .text{
    font-weight: bold;
    line-height: 1.3;
    color: #262626;
    font-size: 18px;
    margin-top: 8px;
    border: 0;
    box-shadow: none;
}

.notif-sentence .actor, .notif-sentence .verb, .notif-sentence .target{
    display: inline-block;
}

.action-bar .action-item.selected{
    color: #329bff;

}

.action-bar .action-item.selected path, .action-bar .action-item.selected g{
    stroke: #329bff;
}

.answ.action-bar .action-item.selected path, .answ.action-bar .action-item.selected g, .comment-item .action-bar .action-item.selected path, .comment-item .action-bar .action-item.selected g{
    fill: #329bff;
}


.popup .title{
    border-bottom: 1px solid #e2e2e2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
}

.popup .title-description{
    font-size: 15px;
    font-weight: normal;
    color: #949494;
}

.request-form, .question-topics{
    height: 400px;
}

.credential-form .add-credential{
    padding: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.credential-form .credentials .credential-item {
    padding: 16px;
    cursor: pointer;
    background: #dfeffa;
    border-bottom: 1px solid #e2e2e2;
    font-size: 17px;
}

.credential-form .credentials .credential-item img{
    margin-left: 5px;
}
.credential-form .credentials ul{
    margin-bottom: 0;
}

.credential-form .credentials .credential-item input[type='radio']{
    width: unset;
    margin: 0;
}

.credential-form .credentials{
    position: relative;
}

.credential-form .credentials .credential-types{
    width: 140px;
    position: absolute;
    z-index: 1100;
    margin: 5px 0;
    border-radius: 3px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);
    padding: 0;
    right: 30px;
}

.credential-form .credentials .credential-types .credit-type-item{
    list-style: none;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    padding: 5px 15px 6px 24px;
}

.credential-form .credentials .credential-types .credit-type-item .icon img{
    margin-left: 5px;
}

.credential-form  .add-type-credential{
    background: #fafafa;
    padding: 16px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
}

.credential-form  .add-type-credential input[type='checkbox']{
    width: inherit;
    margin-left: 5px;
    box-shadow: none;
}

.credential-form  .add-type-credential .icon{
    margin-bottom: 8px;
}

.popup-form{
    padding-top: 8px;
    margin: 0;
}

.request-form .topics, .question-topics{
    overflow-y: scroll
}

.request-form .users{
    overflow-y: scroll
}

.request-form label, .type-filter-bar label, .question-topics label{
    color: #333;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
    font-size: 17px;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 4px;
}

.popup-form ul, .type-filter-bar ul{
    padding-right: 0;
}

.request-form .topic-item.selected, .type-filter-bar .type-item.selected, .question-topics .question-topic-item {
    background: #ececec;
    border-radius: 3px;
}

.request-form .topic-item, .request-form .user-item, .type-filter-bar .type-item, .question-topics .question-topic-item, .credential-form .credential-item{
    color: #666;
    padding: 4px 5px;
    margin: 0 0 0 -5px;
    width: 100%;
    list-style: none;
}

.popup .submit_button{
    float: left;
    margin: 10px;
}

.request-form .user-item .info{
    width: 100%;
}

.request-form .user-item .info .request-icon svg g{
    stroke: #329bff;
}

.type-filter-bar{
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
}

.question-topics{
    padding: 8px 16px 0 16px;
}

.question-topics .question-topic-item{
    width: fit-content;
    margin-bottom: 5px;
}


.question-topics .question-topic-item img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 3px;
}

.question-topics .search-topic img{
     width: 20px;
    height: 20px;
    margin-right: 5px;
}

.question-topics .searched-topics .question-topic-item svg{
    margin-left: 5px;
}

.action-bar .action-item{
    cursor: pointer;
}

.answer-credential .edit-answer-credential{
    margin-right: 5px;
}


.profile, .feed-bar, .creditional-bar{
    box-sizing: border-box;
    margin-bottom:30px;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;

}

.feed-bar .feed-item, .creditional-bar .credit-item, .profile .edit{
    cursor: pointer;
}


.feed-bar label, .creditional-bar label{
    width: 100%;
    margin-bottom: 8px;
    color: #333;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
    font-size: 17px;
    text-transform: none
}

.feed-bar .feed-item, .creditional-bar .credit-item, .user-list .user-item{
    color: #666;
    padding: 4px 5px;
    margin: 0 0 0 -5px;
    width: 100%;
    list-style: none;
}

.feed-bar ul, .creditional-bar ul, ul.user-list{
    padding-right: 0;
}

.feed-bar .feed-item.selected{
    background: #ececec;
    border-radius: 3px;
}