{% extends "layout.html" %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}"/>
    <script src="{% static "js/add-credential.js" %}"></script>
     <script src="{% static "js/answer-action-bar.js" %}"></script>
    <style>
    .creditional-bar .edit{
        color: #949494;
        font-size: 17px;
        font-weight: normal;
        cursor: pointer;
    }
    .return-to-question{
        padding: 8px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    margin-top: 8px;

    text-align: center;
    background: #fff;
    font-weight: bold;
    }
    .return-to-question a{
        color: #949494;
    }
    </style>
{% endblock special_static %}

{% block content %}
<div class="row name">

    <div class="col-md-10 main-section">

        {% include "Answer/answer-html.html" with answer=answer %}

        <div class="return-to-question">
            <a href="{% url "QandA:question" answer.question.id %}">
                        بازگشت به سوال

            </a>
        </div>

    </div>

    <div class="col-md-2">
            <div class="creditional-bar">
            <div class="d-flex justify-content-between">
            <label>اعتبار‌های پاسخ‌دهنده</label>
                <div class="edit">ویرایش</div>
            </div>
            <ul>
                {% include "User/profile_credential-bar.html" with selected_user=user %}
            </ul>
        </div>

    </div>
</div>

<script>

    $('.submit_button.comment').click(function(e) { // limit click to children of main menu
        var $selected_answer = $(e.target).closest('.answer.full');
        var $textarea = $(e.target).siblings('textarea.text');
        if ($textarea[0].value !== '') {
            $.get("/comment/" + $selected_answer[0].id + "/", {'text': $textarea[0].value}, function (data) {
                $selected_answer.find('.comments').append(data);
                $textarea[0].value = '';
            });
        }

        e.stopPropagation();
    });


    $(".comment-item .action-bar").on('click', '*', function (e) {
        e.stopPropagation();
        var $voteObj = $(e.target).closest('.vote');
        if ($voteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            if ($voteObj.hasClass('selected')) {
                $.get("/comment_devote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.removeClass('selected');
                });
            } else {
                $.get("/comment_vote/" + commentID + "/", {}, function (data) {
                    $voteObj.find('.vote-count')[0].innerHTML = data.vote_count;
                    $voteObj.addClass('selected');
                });
            }

        }
        var $deleteObj = $(e.target).closest('.delete');
        if ($deleteObj.length) {
            var commentID = $(e.target).closest('.comment-item')[0].id;
            var $comment_answer = $(e.target).closest('.answer .full');
            $.get("/comment_delete/" + commentID + "/", {}, function (data) {
                $comment_answer.find('.comment-section .comment-item#'+ commentID).remove();
            });

        }
    });
</script>





{% endblock content %}